body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

/* unvisited link */
a:link {
    color: #888;
}

/* visited link */
a:visited {
    color: #888;
}

/* mouse over link */
a:hover {
    color: #444;
    
}

/* selected link */
a:active {
    color: blue;
}

h2{
    
    font-size:15px;
    
}


#main2
{
    position: relative;
    background-color: transparent 50%;
    background: #fff url(images/Enrico-Formiche.png) repeat;
    
}

.divider
{
    overflow: hidden;
    border-top: 1px solid #dbdbdb;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #555;
    color: #000;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #000;
    color: #555;
}
.prima-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    position: relative;
    background: #ddd url(../images/enrico_foto_blu.png) no-repeat center;
    background-size: cover;
}
.seconda-section {

    text-align: center;
    background: #fff;
}

.terza-section {

    text-align: left;
    position: relative;
    background-color: transparent 50%;
    background: #fff url(images/Enrico-Formiche.png) repeat;
   
}

/* new version*/

.quarta-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    position: relative;
    background: #ddd url(../images/enrico_foto_blu.png) no-repeat center;
    background-size: cover;
}

/* old version */

/*
.quarta-section{
height: 53%;
padding-top: 7%;
text-align: center;
background: #fff;
position: relative;
background: #ddd url(../images/enrico_foto_resize.png) no-repeat center;
background-size: 100%;
background-position: bottom;
}

*/

.contact-section {

    text-align: center;
    background: #000;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #000;
	background-color: #999;
    border-radius: 6px;
}
.navbar-default {
    background-color: #000;
    border-color: #555;
    
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 6px;
}

.fa-dimension{
    
    width: 300px;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #008;
    color: white;
    
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}
